@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
}
.heading {
  color: #adb5bd;
}
.task-name {
  font-size: clamp(0.9rem, 2vw, 1.5rem);
  background-color: darkolivegreen;
  color: rgb(190, 215, 145);
  padding: 1px 10px;
}

.heading-fixed {
  color: #adb5bd;
}

.editoff-btn{
  color: #888;
}

.editon-btn{
  color: rgb(222, 161, 5);
  font-size: 3.5px;
}

.register-wrapper {
  /* background-color:#ff69b4 ;  */
  border-radius: 10px;
  background-color: #82c8e5;
}

.user-register-btn {
  background-color: #ff69b4;
  color: #f8f9fa;
  display: block;
  margin: auto;
  box-shadow: 3px 4px 2px #e2e4e5;
}
input::placeholder {
  color: #dee2e6 !important;
}

.small-text {
  font-size: 0.8rem;
  margin: 0;
  font-family:  sans-serif ;
  
}

.task-desc {
  font-size: 0.8rem;
 
}
.task-obj-parent {
  position: relative;
}

.task-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn-close{
  font-size: 0.7rem;
  margin-bottom: 10px;
  
}

.form-validation-err{
  font-size: 0.9rem;
  margin-top: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.username{
  font-size: 1rem;
  margin-right: 10px;
  padding: 2px 4px;
  border-radius: 2px;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  background-color: #86480e;
}

.timestamps {
  position: absolute;

  left: 5px;
  bottom: 5px;
  padding: 3px;
  font-size: 0.8rem;
  color: rgb(6, 147, 172);
}
.mark-as-completed-btn {
  font-size: 0.9rem;
  padding: 1px 6px;
  color: white;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: green;
  /* background-color: #029335bb; */
}

.tasks-container {
  max-height: 500px; /* or any height you want */
  overflow-y: auto; /* enables vertical scroll */
  padding-right: 10px; /* optional for scrollbar space */
}

/* Optional: style scrollbar */
.tasks-container::-webkit-scrollbar {
  width: 8px;
}
.tasks-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
.tasks-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
